# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment/secrets
.env
.env.*
!.env.example

# Git / editor files
.git/
.gitignore
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Docker
docker-compose.yml
docker-compose.*.yml
Dockerfile*
.dockerignore

# Logs/temp
*.log
logs/
tmp/
temp/

# Local databases / volumes



# Keycloak imports/exports
acme-realm.json