# MODEL ENDPOINTS AND KEYS
MAIN_ENDPOINT="https://example.invalid"
MAIN_MODEL_NAME="gpt-4.1"
MAIN_DEPLOYMENT="gpt-4.1"
MAIN_API_VERSION="2025-01-01"
MAIN_API_KEY=""

MINI_ENDPOINT="https://example.invalid"
MINI_MODEL_NAME=
MINI_DEPLOYMENT=
MINI_API_VERSION=
MINI_API_KEY=

# KEYCLOAK CONFIGURATION
KEYCLOAK_URL = "https://example.invalid"
REALM_NAME = "acme"
CLIENT_ID = "acme-client"

# REDIS CONFIGURATION
REDIS_URL = "https://example.invalid"
AGENT_MEMORY_EXPIRY_TTL = 3600

#POSTGRESQL CONFIGURATION
POSTGRESQL_URL = "https://example.invalid"
POSTGRESQL_HOST=
POSTGRESQL_PORT=
POSTGRESQL_DATABASE=
POSTGRESQL_USER=
POSTGRESQL_PASSWORD=
